* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: hidden;
  background-color: black;
}

.menu {
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-attachment: fixed;
  align-items: center;
  width: 12.1%;
  height: 100%;
  background-color:lightgrey;
  margin-right: 10%;
}

.title {
margin: 20px 20px 0 0;
font-size: clamp(.2rem, 2vw, 2rem);
color: black;
}

.pages {
  /* padding: 0 14px 0 14px; */
  /* margin: 10px 10px 2px 0; */
  /* display: flex;
  align-items:end; */
}
.pages {
  margin-top: 10px;
  margin-left: -2px;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 0 clamp(10px, 6vh, 36px) 0;
  font-size: clamp(7px, 2vh, 19px);
}

a {
  text-decoration: none;
  color: rgb(78, 78, 78);
}

.title, a{
color:black;
}

/* li:hover{
  color: rgb(134, 134, 134);
  /* background-color: #a1a1a5; */
  /* background-image: linear-gradient(to right, #c1c1c6 , #a1a1a500);
  border-radius: 2px;
  opacity: 1;
  transition: 0.7s;
} */ 

a:hover{
  color: rgb(134, 134, 134);
  border-radius: 2px;
}

.social-links {
display: flex;
flex-direction: row;
/* justify-content: space-between;
width: 150px; */
}

img {
width: clamp(7px, 1.5vh, 15px);
height: auto;
margin: 0 clamp(2px, .5vw, 7px) 20px clamp(2px, .5vw, 7px);
}

/* #start-button {
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: white;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#start-button button {
  background-color: #950740;
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start-button button:hover {
  background-color: #6f2232;
} */

/* Section Styling */
section {
  margin: 0 10% 0 15%; 
  width: calc(100% - 155.5px); /* Stretch the video to fill the remaining space */
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-size: 3rem;
  padding: 20px;
  box-sizing: border-box;
}

/* #section1 {
  background-color: #1a1a1d;
} */

.container1,.container2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 1% 0 0;
}

/* .runners {
  font-size: .5rem;
} */

p {
  font-size: clamp(.1rem, 1vw, .7rem);
  text-align: right;
}

video {
  /* margin-left: 80px; */
  width: clamp(300px, 80%, 920px); /* Dynamic size based on viewport width */
  height: auto; /* Maintain the aspect ratio */
  margin: 0 auto;
}

h6 {
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(7px, 4vh, 30px);
}

/* #section2 {
  background-color: #4e4e50;
}

#section3 {
  background-color: #6f2232;
} */

.fade-in { 
  opacity: 0; 
  transform: translateY(20px) scale(0.99); 
  transition: opacity 2s ease-out, transform 1s ease-out; 
} 
.fade-in.visible { 
  opacity: 1; 
  transform: translateY(0) scale(1); 
}

