/* Reset margin and padding to remove any default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: red;
}

/* Prevent scrolling */
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.site {
  display: flex;
  flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    width: 183px;
    height: 782.5px;
    background-color:lightgrey;
}

.title {
  margin: 20px 20px 0 0;
  font-size: 2rem;
  color: black;
}

.pages {
    margin-top: 10px;
    margin-left: -2px;
}

ul {
    list-style-type: none;
}

li {
    margin: 0 0 36px 0;
}

a {
  text-decoration: none;
  color: rgb(78, 78, 78);
}

.title, a{
  color:black;
}

a:hover{
    color: rgb(134, 134, 134);
    border-radius: 2px;
}

.social-links {
  display: flex;
  flex-direction: row;
}

img {
  width: 15px;
  height: 15px;
  margin: 0 7px 20px 7px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1330px;
  margin-left: 0px;
  position:relative;
  background-color: lightgrey;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: rgb(78, 78, 78);
}

.about-pic {
  width: 260px;
  height: 325px;
  filter: saturate(.5);
  margin: 0 0 70px 0;
}

.videos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1330px;
  margin-left: 0px;
  position:relative;
  background-color: lightgrey;
}

.performance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1330px;
  margin-left: 0px;
  position:relative;
  background-color: lightgrey;
}

.scoring-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1330px;
  margin-left: 0px;
  position:relative;
  background-color: lightgrey;
}

/* Video styles */
video {
    position: fixed;
    top: 50%;
    left: 155.5px; /* Leave exactly 183px on the left for the menu */
    width: calc(100% - 155.5px); /* Stretch the video to fill the remaining space */
    height: 100%;
    object-fit: cover;
    object-position: left center; /* Align the video to the left */
    transform: translateY(-50%);
    z-index: -100;
  /* margin-left: 183px; */
}
